i {
    position: relative;

    &.small {
        width: 25px;
    }

    &.med {
        width: 35px;
    }

    &.large {
        width: 50px;
    }

    &.sunny {
        content: url('../../assets/icons/sun-1.svg');
    }

    &.rain {
        content: url('../../assets/icons/storm-1.svg');
    }

    &.storm {
        content: url('../../assets/icons/storm-2.svg');
    }

    &.cloudy {
        content: url('../../assets/icons/cloud.svg');
    }

    &.brokenCloud {
        content: url('../../assets/icons/cloudy-2.svg');
    }

    &.clear {
        content: url('../../assets/icons/sun-1.svg');
    }

    &.overcast {
        content: url('../../assets/icons/cloudy-1.svg');
    }

}